.selectContainer {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    width: 80vw;
    margin: 5vw auto;
    background-color: var(--quiz-selector-bg-color);
    border-radius: 5px;
    padding: 20px;
}

.topContainer {
    display: flex;
    justify-content: flex-end;
    width: 100%;
}
