<main class="userModifier">
  <form [formGroup]="questionModificatorComponent" class="user-modifier-form">
    <div class="inputs">
      <p>Intitulé de la question</p>
      <div class="filing">
        <label>
          <b>Intititulé de la question</b> <br>
          <input type="text" class="userInput" name="userInput" [formControlName]="'question'" required />
        </label>
        <label>
          <img *ngIf="imageUrlQuestion" [src]="imageUrlQuestion" id="imageQuestion">
          <input type="file" (change)="onFileSelected($event, 'imageUrlQuestion')" [formControlName]="'imageQuestion'">
          <p>Optionnel : Ajoutez une image</p>
        </label>
      </div>
      <p>Réponses</p>
      <div class="ResponsesImage">
        <label> <b>Les réponses sont t-elles des images ?</b> <br>
          <label>
            <input type="radio" name="choicePicture" value="true" [formControlName]="'choicePicture'" required>
            Oui
          </label>
          <label>
            <input type="radio" name="choicePicture" value="false" [formControlName]="'choicePicture'"> Non
          </label>
        </label>
      </div>
      <div *ngIf="questionModificatorComponent.controls['choicePicture'].value === 'false'" class="filing">
        <label>
          <b>Proposition 1</b> <br>
          <input type="text" class="userInput" name="userInput" [formControlName]="'reponse1'" required />
        </label>
        <label>
          <b>Proposition 2</b> <br>
          <input type="text" class="userInput" name="userInput" [formControlName]="'reponse2'" required />
        </label>
      </div>
      <div *ngIf="questionModificatorComponent.controls['choicePicture'].value === 'false'" class="filing">
        <label>
          <b>Proposition 3</b> <br>
          <input type="text" class="userInput" name="userInput" [formControlName]="'reponse3'" required />
        </label>
        <label>
          <b>Proposition 4</b> <br>
          <input type="text" class="userInput" name="userInput" [formControlName]="'reponse4'" required />
        </label>
      </div>

      <div *ngIf="questionModificatorComponent.controls['choicePicture'].value === 'true'" class="filing">
        <label>
          <b>Proposition 1</b> <br>
          <img *ngIf="imageUrlResponse1" [src]="imageUrlResponse1" id="imageResponse1">
          <input type="file" (change)="onFileSelected($event, 'imageUrlResponse1')"
            [formControlName]="'imageResponse1'">
          <p>Ajoutez une image</p>
        </label>
        <label>
          <b>Proposition 2</b> <br>
          <img *ngIf="imageUrlResponse2" [src]="imageUrlResponse2" id="imageResponse2">
          <input type="file" (change)="onFileSelected($event, 'imageUrlResponse2')"
            [formControlName]="'imageResponse2'">
          <p>Ajoutez une image</p>
        </label>
      </div>
      <div *ngIf="questionModificatorComponent.controls['choicePicture'].value === 'true'" class="filing">
        <label>
          <b>Proposition 3</b> <br>
          <img *ngIf="imageUrlResponse3" [src]="imageUrlResponse3" id="imageResponse3">
          <input type="file" (change)="onFileSelected($event, 'imageUrlResponse3')"
            [formControlName]="'imageResponse3'">
          <p>Ajoutez une image</p>
        </label>
        <label>
          <b>Proposition 4</b> <br>
          <img *ngIf="imageUrlResponse4" [src]="imageUrlResponse4" id="imageResponse4">
          <input type="file" (change)="onFileSelected($event, 'imageUrlResponse4')"
            [formControlName]="'imageResponse4'">
          <p>Ajoutez une image</p>
        </label>
      </div>

      <p>Indices</p>
      <div class="filing">
        <label>
          <b>Indice 1</b> <br>
          <input type="text" class="userInput" name="userInput" [formControlName]="'indice1'" required />
        </label>
        <label>
          <b>Indice 2</b> <br>
          <input type="text" class="userInput" name="userInput" [formControlName]="'indice2'" required />
        </label>
      </div>
      <p>Catégorie</p>
      <div class="filing">
        <label>
          <input type="text" class="userInput" name="userInput" [formControlName]="'categorie'" required />
        </label>
      </div>
    </div>
    <button type="submit" class="modifyQuestionButton" [disabled]="!isFormValid()" (click)="navigateToSelectQuestion()">
      Créer/modifier la question
    </button>
  </form>
</main>