.userItem {
    margin: 20px;
    text-align: center;
    padding: 10px;
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.7);
    border-radius: 5px;
    background-color: white;
}

.userItem:hover {
    background-color: #f0f0f0;
    cursor: pointer;
}

.imgUser {
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 5px;
}

.userName {
    margin: 0.4vw auto;
    font-size: 1.2em;
    font-weight: bold;
}