.userItem {

  margin: 20px;
  text-align: center;
  padding: 10px;
  box-shadow: 5px 5px 10px 5px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  background-color: white;
  transition: background-color 0.3s, transform 0.3s, box-shadow 0.3s;
  cursor: var(--pointer-cursor);


}

.userItem:hover {
  background-color: #f0f0f0;
  cursor: pointer;
  box-shadow: 5px 10px 10px 10px rgba(0, 0, 0, 0.2);
  transform: scale(1.1);
}


.userName {
  margin: 0.4vw auto;
  font-size: 1.2em;
  fnt-weight: bold;
    background-color: #f0f0f0;
}

.imgUser {
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 5px;
  cursor: var(--pointer-cursor);

}

.userName {
    margin: 0.4vw auto;
    font-size: 1.2em;
    font-weight: bold;
}
