.userItem {
    margin: 20px;
    text-align: center;
}

.imgUser {
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 5px;
}

.userName {
    margin-top: 5px;
    font-size: 16px;
}