<div class="quizResultBox">
  <div>
    <p>Quiz du</p>
    <p>{{date}}</p>
  </div>
  <div>
    <p>Question</p>
    <p>{{sucessQuiz}}%</p>
    <app-genericButton [routerLink]="['/stats/questionStat/'+user?.id]">Plus d'informations</app-genericButton>
  </div>
  <div>
    <p>Simon</p>
    <p>{{sucessSimon}}%</p>
    <app-genericButton [routerLink]="['/stats/simonStat/'+user?.id]">Plus d'informations</app-genericButton>
  </div>
  <div>
    <p>Memory</p>
    <p>{{sucessMemory}}%</p>
    <app-genericButton [routerLink]="['/stats/memoryStat/'+user?.id]">Plus d'informations</app-genericButton>
  </div>
</div>
