<div class="quizResultBox">
  <div>
    <p>Quiz du</p>
    <p>{{ statForButton?.date }}</p>
  </div>
  <div *ngIf="isThereQuestion">
    <p>Question</p>
    <ng-container *ngIf="!statForButton?.allQuestionsSkipped">
      <p>{{ statForButton?.sucessQuiz }}%</p>
      <app-genericButton [routerLink]="['/stats/questionStat/' + user?.id]" (click)="defineStat(statForButton?.id)">Plus d'informations</app-genericButton>
    </ng-container>
    <ng-container *ngIf="statForButton?.allQuestionsSkipped">
      <p>Question passée</p>
      <app-genericButton [routerLink]="['/stats/questionStat/' + user?.id]" (click)="defineStat(statForButton?.id)">Plus d'informations</app-genericButton>
    </ng-container>
  </div>
  <div *ngIf="!isThereQuestion">
    <p>Question</p>
    <p>Pas de Questions</p>
  </div>
  <div *ngIf="statForButton?.simonStats">
    <p>Simon</p>
    <ng-container *ngIf="!statForButton?.simonStats?.wasPassed">
      <p>{{ statForButton?.sucessSimon }}%</p>
      <app-genericButton [routerLink]="['/stats/simonStat/' + user?.id]" (click)="defineStat(statForButton?.id)">Plus d'informations</app-genericButton>
    </ng-container>
    <ng-container *ngIf="statForButton?.simonStats?.wasPassed">
      <p>Simon passé</p>
      <app-genericButton [routerLink]="['/stats/simonStat/' + user?.id]" (click)="defineStat(statForButton?.id)">Plus d'informations</app-genericButton>
    </ng-container>
  </div>
  <div *ngIf="!statForButton?.simonStats">
    <p>Simon</p>
    <p>Pas de Simon</p>
  </div>
  <div *ngIf="statForButton?.memoryStats">
    <p>Memory</p>
    <ng-container *ngIf="!statForButton?.memoryStats?.wasPassed">
      <p>{{ statForButton?.sucessMemory }}%</p>
      <app-genericButton [routerLink]="['/stats/memoryStat/' + user?.id]" (click)="defineStat(statForButton?.id)">Plus d'informations</app-genericButton>
    </ng-container>
    <ng-container *ngIf="statForButton?.memoryStats?.wasPassed">
      <p>Memory passé</p>
      <app-genericButton [routerLink]="['/stats/memoryStat/' + user?.id]" (click)="defineStat(statForButton?.id)">Plus d'informations</app-genericButton>
    </ng-container>
  </div>
  <div *ngIf="!statForButton?.memoryStats">
    <p>Memory</p>
    <p>Pas de Memory</p>
  </div>
</div>
