.quizResultBox {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  border: 2px solid #ccc;
}

.quizResultBox > div {
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.quizResultBox > div:first-child {
  margin-right: 40px;
}

.quizResultBox > div:not(:first-child) {
  margin-right: 10px;
}

.quizResultBox > div > p:nth-child(1) {
  font-weight: 900;
  font-size: 2em;
  text-align: center;
}

.quizResultBox > div > p:nth-child(2) {
  text-align: center;
  font-weight: 600;
  font-size: 2em;
}

.quizResultBox > div > p:nth-child(3) {
  display: flex;
  justify-content: center;
}

