.quizResultBox {
    border: var(--result-border);
    padding: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    font-family: "Noto Sans Thai Looped", sans-serif;
    text-shadow: var(--text-shadow);
}

.quizResultBox>div:first-child {
    margin-right: 40px;
}

.quizResultBox>div {
    margin-right: 10px;
}

.quizResultBox>div:first-child>p:nth-child(1) {
    text-align: center;
}

.quizResultBox>div>p:nth-child(1) {
    font-weight: 900;
    font-size: 1.05em;
}

.quizResultBox>div:first-child>p:nth-child(2) {
    text-align: center;
}

.quizResultBox>div>p:nth-child(2) {
    text-align: center;
    font-weight: 600;
    font-size: 0.9em;
}
