<div class="question">
    <h1 class="question_title">Question 1</h1>
    <matrio-content></matrio-content>
    <matrio path="components/astuce/astuce">
        <ul>
            <li>La capitale de la France contient une grande tour nommée " La Dame De Fer"</li>
            <li>La capitale de la France est connue pour sa cuisine et sa mode</li>
        </ul>
    </matrio>
    <matrio path="components/buttonGrid/buttonGrid">
        <matrio path="components/buttonImage/buttonImage">
            <img src="https://picsum.photos/1280/720?random=1" alt="button image" class="buttonImg">
        </matrio>
        <matrio path="components/buttonImage/buttonImage">
            <img src="https://picsum.photos/1280/720?random=2" alt="button image" class="buttonImg">
        </matrio>
        <matrio path="components/buttonImage/buttonImage">
            <img src="https://picsum.photos/1280/720?random=3" alt="button image" class="buttonImg">
        </matrio>
        <matrio path="components/buttonImage/buttonImage">
            <img src="https://picsum.photos/1280/720?random=4" alt="button image" class="buttonImg">
        </matrio>
    </matrio>
</div>