.quizContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 80vw;
    border-radius: 5px;
    height: 50vh;
    overflow-y: auto;
}

.quizContainer::-webkit-scrollbar {
    width: 10px;
}

.quizContainer::-webkit-scrollbar-track {
    background-color: var(--quiz-selector-container-bg-color);
}

.quizContainer::-webkit-scrollbar-thumb {
    background-color: var(--quiz-selector-scrollbar-thumb-color);
    border-radius: var(--quiz-selector-scrollbar-radius);
}