<div>
  <div class="overlay" style="display: none" onclick="(()=>{
                document.querySelector('.AstuceDialogContainer').style.display = 'none';
                document.querySelector('.overlay').style.display = 'none';
                document.getElementsByTagName('body')[0].style.overflow = 'auto';
            })()"></div>
  <app-quizButton [lite]="true" onclick="(()=>{
    document.querySelector('.AstuceDialogContainer').style.display = 'block';
    document.querySelector('.overlay').style.display = 'block';
    document.getElementsByTagName('body')[0].style.overflow = 'hidden';
})()"><img src="assets/lightbulb.svg" width="40" class="white" alt=""/> Indices</app-quizButton>
  <div class="AstuceDialogContainer" style="display: none">
    <div class="AstuceDialog">
      <div class="AstuceLine">
        <p class="AstuceContent">
          <ng-content></ng-content>
        </p>
      </div>
    </div>
  </div>
</div>
