<div>
  <div class="overlay" *ngIf="showHint" (click)="closeATip()"></div>
  <app-genericButton (click)="openATip()" *ngIf="displayButton == true"><img ngSrc="assets/lightbulb.svg" width="40"
      class="white" alt="" height="40" /> Indices</app-genericButton>
  <div class="AstuceDialogContainer" *ngIf="showHint" (click)="$event.stopPropagation(); closeATip()">
    <div class="AstuceDialog">
      <div class="AstuceLine">
        <p class="AstuceContent">
          <ng-content></ng-content>
        </p>
      </div>
    </div>
  </div>
</div>
