<div class="questionReponse" matrio-class>
    <h1 class="questionReponse_title">Question 1</h1>
    <matrio-content>La question</matrio-content>
    <matrio path="components/buttonGrid/buttonGrid">
        <matrio path="components/button/button"class="btnGreen">
            <p>Ludwig van Beethoven</p>
        </matrio>
        <matrio path="components/button/button" class="btnRed">
            <p>Wolfgang Amadeus Mozart</p>
        </matrio>
        <matrio path="components/button/button" class="btnRed">
            <p>Joseph Haydn</p>
        </matrio>
        <matrio path="components/button/button" class="btnGray">
            <p>Johann Sebastian Bach</p>
        </matrio>
    </matrio>
</div>