<div class="questionReponse" matrio-class>
    <h1 class="questionReponse_title">Question 1</h1>
    <matrio-content>La question</matrio-content>
    <matrio path="components/buttonGrid/buttonGrid">
        <matrio path="components/buttonGreen/buttonGreen">
            <p>Ludwig van Beethoven</p>
        </matrio>
        <matrio path="components/buttonRed/buttonRed">
            <p>Wolfgang Amadeus Mozart</p>
        </matrio>
        <matrio path="components/buttonRed/buttonRed">
            <p>Joseph Haydn</p>
        </matrio>
        <matrio path="components/buttonGray/buttonGray">
            <p>Johann Sebastian Bach</p>
        </matrio>
    </matrio>
</div>