<div class="question">
    <h1 class="question_title">Question 1</h1>
    <matrio path="components/astuce/astuce">
        <ul>
            <li>Analysez les indices dans la question : Le surnom "le Père de la Symphonie" suggère que ce compositeur a eu un impact significatif sur le développement du genre symphonique. En cherchant des compositeurs renommés connus pour leurs contributions majeures à la musique classique, vous pouvez éliminer ceux qui ne correspondent pas à ce critère.</li>
            <li>Utilisez vos connaissances générales : Si vous avez des connaissances de base sur l'histoire de la musique classique, vous pouvez faire appel à vos souvenirs pour identifier des compositeurs célèbres associés à des périodes spécifiques ou à des styles musicaux.</li>
        </ul>
    </matrio>
    <matrio-content>La question</matrio-content>
    <matrio path="components/buttonGrid/buttonGrid">
        <matrio path="components/button/button">
            <p>Ludwig van Beethoven</p>
        </matrio>
        <matrio path="components/button/button">
            <p>Wolfgang Amadeus Mozart</p>
        </matrio>
        <matrio path="components/button/button">
            <p>Joseph Haydn</p>
        </matrio>
        <matrio path="components/button/button">
            <p>Johann Sebastian Bach</p>
        </matrio>
    </matrio>
</div>