#userInput {
    background-color: #D9D9D9;
    border-radius: 200px;
    padding: 5px;
    border: #D9D9D9;
}

.nameUserInput {
    font-size: 1.2em;
    margin-bottom: 10px;
}

.userInput {
    text-align: center;
    display: flex;
    flex-direction: column;
}