#userInput {
    background-color: var(--user-input);
    border-radius: 200px;
    padding: 5px;
    border: var(--user-input-border);
}

.nameUserInput {
    font-size: 1.2em;
    margin-bottom: 10px;
}

.userInput {
    text-align: center;
    display: flex;
    flex-direction: column;
}
