.buttonBackground {
  border-radius: 30px;
  height: 25vh;
  max-height: 30vh;
  width: 100%;
  background-color: #3a4eff;
  text-align: center;
  transition: background 0.3s ease;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  aspect-ratio: 21/9;
  cursor: pointer;
}

.btnRed {
  background-color: #FF0000;
}

.btnGray{
  background-color: #808080;
}

.btnGreen{
  background-color: #008000;
}
.buttonBackground::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 30px;
  background: rgba(0, 0, 0, 0);
  transition: background 0.3s ease;
}

.buttonBackground:hover::after {
  background: rgba(0, 0, 0, 0.2);
}

.btnGreenImage{
  background-color: rgba(0, 128, 0, 0.60);
}
.btnGrayImage{
  background-color: rgba(128, 128, 128, 0.60);
}
.btnGreenImage:after{
  background-color: rgba(0, 128, 0, 0.60);
}
.btnGrayImage:after{
  background-color: rgba(128, 128, 128, 0.60);
}
.buttonTxt {
  font-size: 3rem;
  font-family: Roboto, serif;
  color: #ffffff;
}
.liteButton {
  height: 10vh;
}

.buttonImg{
  border-radius: 30px;
  width: 100%;
  height: 100%;
  object-fit: fill;
}
