.buttonBackground {
  position: relative;
  border-radius: 30px;
  height: 20vh;
  max-height: 30vh;
  width: 100%;
  background-color: var(--button-generic-background-color);
  text-align: center;
  transition: all 0.3s ease;
  justify-content: center;
  align-items: center;
  cursor: var(--pointer-cursor);
    display: flex;
  justify-content: center;
  align-items: center;
}

.btnRed {
  background-color: var(--button-generic-delete-background-color);
}

.btnGray {
  background-color: var(--button-gray-background-color);
  visibility: hidden;
  pointer-events: none;
}

.btnGreen {
  background-color: var(--button-green-background-color);
  max-height: 100vh !important;
  height: 40vh !important;
}

.expandables {
  width: 60vw !important;
}

.buttonBackground::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 30px;
  background: rgba(0, 0, 0, 0);
  transition: background 0.3s ease;
}

.buttonBackground:hover {
  filter: brightness(80%);
}

.buttonTxt {
  font-size: 3rem;
  font-family: Roboto, serif;
  color: var(--button-generic-color);
}

.liteButton {
  height: 10vh;
}


.overlay {
  border-radius: 30px;
  position: sticky;
  top: 0;
  left: 0;
  width: 100vh;
  height: 100vh;
  opacity: 0.8;
}

.buttonImg {
  border-radius: 30px;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.stat-button {
  width: 15vw;
  height: 5vw;
  cursor: url('../../assets/normal_cursor.png'), auto;
}

.stat-button:hover {
  filter: brightness(100%);
}
