<div style="display: flex; flex-direction: column; align-items: center; margin-top: 20px;">
  <app-genericButton [routerLink]="['/admin/createUser']">Création d'un nouvel
    utilisateur</app-genericButton>
  <div class="userContainerWrapper">
    <app-search-quiz-selector (searchTerm)="searchUsers($event)"></app-search-quiz-selector>
    <div class="userContainer">
      <div *ngFor="let user of users">
        <app-select-user-item [user]="user" (click)="setModifyUser(user, $event)"></app-select-user-item>
      </div>
    </div>
  </div>
</div>