.memoryContainer {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    justify-content: center;
    width: 80vw;
    border-radius: 5px;
    margin: 5vw auto;
    background-color: var(--memory-container-bg-color);
    border: 5px groove var(--memory-container-border-color);
}
