.memoryContainer {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    justify-content: center;
    width: 80vw;
    border-radius: 5px;
    margin: 1vw auto;
    background-color: var(--memory-container-bg-color);
    border: 5px groove var(--memory-container-border-color);
}

#textHints {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1vw auto;
    font-size: 2vw;
    font-weight: bold;
    color: var(--button-green-background-color);
}

.skipButton {
    position: fixed;
    bottom: 0px;
    right: 0px;
    text-align: center;
    width: fit-content;
    transition: all 0.5s ease;
    cursor: var(--pointer-cursor);
}

.skipper {
    position: fixed;
    width: 100vw;
    bottom: 0;
    right: 0;
    display: flex;
    align-content: center;
    justify-content: center;
    z-index: 1000;
}

.memory-game ::ng-deep app-genericButton>button {
    background-color: black;
    border-radius: 15px 0 0 0;
}