input[type="text"] {
  font-family: "Asap", sans-serif;
  display: block;
  border-radius: 5px;
  font-size: 16px;
  background-color: var(--login-input-background-color);
  width: 100%;
  border: 0;
  padding: 10px 10px;
  margin: 15px -10px;
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.7);
}

label{
  font-family: "Asap", sans-serif;
  font-size: 1.5em;
}

textarea {
  border: var(--quiz-manager-input-bg-color);
  overflow: scroll;
  height: 50px;
  resize: both;
  font-family: "Asap", sans-serif;
  display: block;
  border-radius: 5px;
  font-size: 16px;
  background-color: var(--login-input-background-color);
  width: 100%;
  border: 0;
  padding: 10px 10px;
  margin: 15px -10px;
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.7);
}

#overlayAddQuestion {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--quiz-manager-overlay);
  z-index: 1000;
  overflow: auto;
}

.close {
  position: fixed;
  top: 10px;
  right: 25px;
  font-size: 36px;
  color: white;
  cursor: pointer;
}

#overlayAddQuestion > ::ng-deep app-select-question-edit > main > .user-modifier-form {
  border-radius: 20px;
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.7);
  margin-left: 15%;
  margin-right: 15%;
  margin-left: 15%;
  text-align: center;
  background-color: #F6F6F6;
  margin-bottom: 100px;
}

#overlaySimonConfig {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--quiz-manager-overlay);
  z-index: 1000;
}

#overlaySimonConfig form {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: var(--background-color);
  padding: 20px;
  border-radius: 10px;
  width: 350px;
  padding: 50px;
}

input[type="number"] {
    font-family: "Asap", sans-serif;
    display: block;
    border-radius: 5px;
    font-size: 16px;
    background-color: var(--login-input-background-color);
    width: 92%;
    border: 0;
    padding: 10px 10px;
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.7);
    margin-top: 7px;
}

::ng-deep app-genericButton > button {
  height: fit-content;
  width: fit-content;
  font-size: 1.5em !important;
  display: flex;
  justify-content: center;
  align-items: center;
}

.editContainer {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  background: var(--kanban-column-bg-color);
  box-shadow: 5px 5px 10px 5px rgba(0, 0, 0, 0.2);
  border-radius: 20px;
  width: 20vw;
  padding: 24px;
}
