<div class="center">
  <app-genericButton style="padding: 20px;" [routerLink]="['/admin/createUser']">Création d'utilisateurs</app-genericButton>
  <app-genericButton style="padding: 20px;" [routerLink]="['/admin/selectUserToModify']">Modification
    d'utilisateurs</app-genericButton>
  <app-genericButton style="padding: 20px;" [routerLink]="['/admin/quizManager']">Gestion des quiz</app-genericButton>
  <app-genericButton style="padding: 20px;" [routerLink]="['/admin/selectQuestion']">Gestion des questions</app-genericButton>
  <app-genericButton style="padding: 20px;" [routerLink]="['/stats/selectUserStat']">Stats</app-genericButton>

</div>
