<div class="center">
  <app-genericButton style="padding: 20px;" [routerLink]="['/createUser']">Création d'utilisateurs</app-genericButton>
  <app-genericButton style="padding: 20px;" [routerLink]="['/selectUserToModify']">Modification
    d'utilisateurs</app-genericButton>
  <app-genericButton style="padding: 20px;" [routerLink]="['/quizManager']">Gestion des quiz</app-genericButton>
  <app-genericButton style="padding: 20px;" [routerLink]="['/selectQuestion']">Gestion des questions</app-genericButton>
  <app-genericButton style="padding: 20px;" [routerLink]="['/selectUserStat']">Stats</app-genericButton>

</div>
