.center {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100vw;
  height: 80vh;
  background-color: #f5f5f5;
}

::ng-deep app-genericButton > button {
  height: 15vh;
  width: 30vw;
  font-size: 2em;
  display: flex;
  justify-content: center;
  align-items: center;
}
