.simonStat {
  border: var(--question-result-stat-border);
  padding: 20px;
  flex-direction: row;
  justify-content: space-around;
  font-family: "Roboto", sans-serif;
  text-shadow: var(--question-result-text-shadow);
}

.questionPassed {
  font-family: "Alatsi", sans-serif;
  font-size: 2.5rem;
  margin: 1vw auto;
  text-align: center;
  color: red;
}