<h1>
  <app-titlePage>
    <p>Résultats du Memory joués par {{user?.name}} {{user?.firstname}}</p>
  </app-titlePage>
</h1>
<div class="resultatMemory">
  <div class = statMemory *ngFor="let stat of this.stats">
    <div *ngFor="let memory of stat.erreurMemory; let questionIndex = index">
      <app-result-memory [largeur]=stat.largeurMemory[questionIndex] [hauteur]=stat.hauteurMemory[questionIndex] [indices]=stat.indicesQuiz[questionIndex] [erreur]=stat.erreurQuiz[questionIndex] [temps]=stat.tempsQuiz[questionIndex]></app-result-memory>
    </div>
  </div>
</div>
<footer>
  <app-zoomSlider></app-zoomSlider>
</footer>
