.nav_current_page_head {
  transition: all 0.3s ease;
  width: 60vw;
  height: fit-content;
  padding: 0.5vw;
  font-size: 1.5em;
  font-family: "Fjalla One", sans-serif, serif;
  text-align: center;
  color: var(--navabar-title-color);
  background-color: var(--navbar-title-container-bg-color);
  border-radius: 0 0 10px 10px;
  margin-top: 0;
  margin-left: auto;
  margin-right: auto;
}

.material-symbols-outlined {
  font-size: 1.5em;
  color: var(--navbar-title-color);
  margin: 0 0.5vw;
}

.admin {
  cursor: pointer;
  color: var(--navabar-title-color);
  font-family: "Fjalla One", sans-serif, serif;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 15vw;
  font-size: 1.4vw;
  border-radius: 0 0 0 10px;
}

.admin:hover {
  background-color: darkorange;
}

.dropdown-toggle {
  cursor: pointer;
  color: var(--navabar-title-color);
  font-family: "Fjalla One", sans-serif, serif;
  text-align: center;
  transition: all 0.3s ease;
  display: flex;
  justify-content: center;
  align-items: center;
}

.dropdown-menu, .dropdown-menu>ul {
  position: absolute;
  background-color: #000000;
  list-style-type: none;
  padding: 0;
  border-radius: 15px;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  transition: all 0.3s ease;
  animation: fadeIn 0.2s;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.admin:hover .material-symbols-outlined {
  animation: shield 0.5s;
}

.quit:hover .material-symbols-outlined {
  animation: play-button 1s;
}

@keyframes play-button {
  0% {
    transform: translateX(0);
  }
  25% {
    transform: translateX(-10px);
  }
  50% {
    transform: translateX(10px);
  }
  100% {
    transform: translateX(0);
  }

}

@keyframes shield {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.4);
  }
  100% {
    transform: scale(1);
  }
}

.dropdown-menu a {
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  color: #ffffff;
}

.dropdown-item {
  color: var(--navbar-title-color);
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  cursor: pointer;
}

.dropdown-item:hover {
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 15px;
}

.nav_title {
  text-align: center;
  color: white;
  font-family: "Fjalla One", sans-serif, serif;
  font-size: 1.5em;
}

.nav_play {
  text-align: center;
  color: white;
  font-family: "Fjalla One", sans-serif, serif;
}

.navbar {
  display: flex;
  height: 3rem;
}

.logoContainer {
  width: 15vw;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}

.quitContainer {
  color: white;
  max-width: 15vw;
  background-color: black;
  transition: all 0.3s ease;
  display: flex;
  justify-content: space-between;
  border-radius: 0 0 0 10px;
  height: 9vh;
}

.quitLogo,
.logo-text {
  margin: 0;
}

.quit {
  cursor: pointer;
  color: var(--navabar-title-color);
  font-family: "Fjalla One", sans-serif, serif;
  text-align: center;
  transition: all 0.3s ease;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 15vw;
  font-size: 1.4vw;
}

.logo{
  background-color: black;
  cursor: var(--pointer-cursor);
  padding: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 15vw;
  border-radius: 0 0 10px 0;
  height: 8vh;
  transition: all 0.3s ease;
}

.quit:hover {
  background-color: seagreen;
}

.logo-icon {
  width: auto;
  height: 100%;
  transition: all 0.3s ease;
}

.logo-icon:hover {
  transition: all 0.3s ease;
  animation: spooky-scary-squidward 0.5s infinite;
}

.logo-icon:active {
  animation: squid-attack 0.5s;
}

@keyframes squid-attack {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(4);
  }

}

@keyframes spooky-scary-squidward {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(10deg);
  }
  50% {
    transform: rotate(0deg);
  }
  75% {
    transform: rotate(-10deg);
  }
  100% {
    transform: rotate(0deg);
  }

}

.logo-text {
  margin-top: 5px;
  font-family: "Fjalla One", sans-serif, serif;
  font-size: 0.8em;
}

.fjalla-one-regular {
  font-family: "Fjalla One", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.titleContainer {
  width: 80vw;
  margin: 4vw auto;
  text-align: center;
}

.titleContainer h1 {
  color: var(--navbar-title-container-bg-color);
  font-size: 2.5vw;
  font-weight: bold;
}
