<div class="navbar">
  <div class="logoContainer" [routerLink]="['/']">
    <div class="logo">
      <img src="../../assets/squid.svg" alt="logo" class="logo-icon"/>
      <span class="nav_title">Klamar</span>
    </div>
  </div>
  <div class="nav_current_page_head">
    <span *ngIf="userName">{{ userName }} - </span>
    <span>{{ title }}</span>
  </div>

  <div class="quitContainer">
    <div class="admin" (click)="toggleDropdown()">
      <div class="dropdown">
        <div class="dropdown-toggle">
          <a>Admin</a>
          <span class="material-symbols-outlined">
admin_panel_settings
</span>
        </div>

        <div class="dropdown-menu" *ngIf="dropdownOpen" (mouseleave)="toggleDropdown()">
          <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <li><a class="dropdown-item" [routerLink]="['/admin/selectQuestion']">Gestion des questions</a></li>
            <li><a class="dropdown-item" [routerLink]="['/admin/quizManager']">Gestion des quizzes</a></li>
            <li><a class="dropdown-item" [routerLink]="['/admin/selectUserToModify']">Gestion des utilisateurs</a></li>
            <li><a class="dropdown-item" [routerLink]="['/stats/selectUserStat']">Statistiques</a></li>
            <!--<li class="dropdown-submenu"><a class="dropdown-item dropdown-toggle" href="#">menu deroulant</a>
              <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="#">deroulant 1</a></li>
                <li><a class="dropdown-item" href="#">deroulant 2</a></li>
              </ul>
            </li>-->
          </ul>
        </div>
      </div>
    </div>
    <div class="quit" [routerLink]="['/']">
      <span class="nav_play">Jouer</span>
      <span class="material-symbols-outlined">
play_arrow
</span>
    </div>
  </div>
</div>
