<h1>
  <app-titlePage>
    <p>Résultats du Simon joués par {{user?.name}} {{user?.firstname}}</p>
  </app-titlePage>
</h1>
<div class="resultatSimon">
  <simon-for-stat [numberOfBoxes]=tailleFinalSimon [user] = this.user>
  </simon-for-stat>
  <app-result-simon [wasPassed]=stat?.simonStats?.wasPassed [taille]=this.stat?.simonStats?.tailleFinalSimon
    [indices]=stat?.simonStats?.indicesSimon [erreur]=stat?.simonStats?.erreurSimon [temps]=stat?.simonStats?.tempsSimon
    [couleur]=stat?.simonStats?.nombreDeCouleurs></app-result-simon>
</div>
