h1 {
  font-family: "Roboto", sans-serif;
}

.resultatSimon {
  border: var(--question-result-stat-border);
  padding: 20px;
  flex-direction: row;
  justify-content: space-around;
  font-family: "Noto Sans Thai Looped", sans-serif;
  text-shadow: var(--text-shadow);
  align-items: center;
  font-size: 1.1em;
}


.item:not(:last-child) {
  margin-bottom: 10px;
}
.simonTitle {
  text-align: center;
}
.simon{
  margin-left: 375px;
}
footer {
  margin: 10px;
  position: fixed;
  bottom: 0;
  right: 0;
}
