.searchContainer {
    display: flex;
    align-items: center;
    border: var(--search-container-border);
    background-color: var(--search-container-bg-color);
    border-radius: 5px;
    padding: 5px;
    margin-bottom: 10px;
    width: 40vw;
}
input{
  background-color: var(--search-input-bg-color);
  color: var(--search-input-color);
}

input::placeholder {
    color: var(--search-input-placeholder-color);
}

#search {
    flex: 1;
    border: none;
    outline: none;
    padding: 5px;
    font-size: 16px;
}

.searchLogo {
    width: 30px;
    height: 30px;
    margin-left: 5px;
}
