h1 {
  font-family: "Roboto", sans-serif;
}
.resultat {
  overflow-y: scroll;
  scrollbar-color: var(--result-scrollbar-color);
  scrollbar-width: thin;
  align-items: center;
  max-height: 500px;
  font-size: 1.1em;
}


.item:not(:last-child) {
  margin-bottom: 10px;
}

footer {
  margin: 10px;
  position: fixed;
  bottom: 0;
  right: 0;
}

.differentResultat{
  background-color: whitesmoke;
}
