h1 {
    font-size: 1.5em;
    width: 80%;
    font-size: 1.5em;
    text-align: center;
    font-family: Roboto, serif;
    color: #ffffff;
    background-color: #434343;
    border-radius: 10px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
}

.result {
    align-items: center;
    font-size: 1.1em;
    width: 90%;
    margin: auto;
    margin-bottom: 4vh;
}

.item:not(:last-child) {
    margin-bottom: 10px;
}

.sort {
    text-align: right;
    margin-bottom: 10px;
}

footer {
    margin: 10px;
    position: fixed;
    bottom: 0;
    right: 0;
}

.graphics {
    display: flex;
    justify-content: center;
}