<div class="quizContainer">
    <matrio path="components/quizSelectorItem/quizSelectorItem" />
    <matrio path="components/quizSelectorItem/quizSelectorItem" />
    <matrio path="components/quizSelectorItem/quizSelectorItem" />
    <matrio path="components/quizSelectorItem/quizSelectorItem" />
    <matrio path="components/quizSelectorItem/quizSelectorItem" />
    <matrio path="components/quizSelectorItem/quizSelectorItem" />
    <matrio path="components/quizSelectorItem/quizSelectorItem" />
    <matrio path="components/quizSelectorItem/quizSelectorItem" />
    <matrio path="components/quizSelectorItem/quizSelectorItem" />
</div>