<div class="quizContainer">
  <p *ngIf="wasPassed" class="questionPassed">Cette question a été passé</p>
  <p class="question">{{ questionText }}</p>
  <div *ngIf="questionImage" class="question-image-container">
    <img src="{{questionImage}}" alt="" />
  </div>

  <div class="griddy">
    <div class="answer" *ngFor="let answer of answers">
      <app-quizButton [isStatsButton]="true" [class.expandables]="correctAnswer === answer"
        [img]="areResponsesImages ? answer : ''">{{ answer }}
      </app-quizButton>
      <p *ngIf="correctAnswer === answer" class="correct-answer">Bonne réponse</p>
    </div>
  </div>