.griddy {
  display: flex;
  gap: 30px;
  justify-content: center;
  margin-bottom: 2vw;
}

.griddy>app-quizButton {
  width: 40%;
  box-sizing: border-box;
}

.expandables {
  width: 60vw !important;
}

@media (max-width: 768px) {
  .griddy>app-quizButton {
    width: 100%;
  }
}

.question {
  font-family: "Alatsi", sans-serif;
  font-size: 2rem;
  margin: 1vw auto;
  text-align: center;
}

.question-image-container {
  width: 20vw;
  height: 15vh;
  max-height: 30vh;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  align-items: center;
  margin: 1vw auto;
}

.question-image-container img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  border-radius: 15px;
  margin: auto;
}

.questionPassed {
  font-family: "Alatsi", sans-serif;
  font-size: 2.5rem;
  margin: 1vw auto;
  text-align: center;
  color: red;
}