.kanbanColumns {
  display: flex;
  flex-grow: 1;
}

.kanbanColumn {
  display: flex;
  flex-direction: column;
  width: 40vw;
  max-width: 45vw;
  margin: 50px;
  padding: 25px;
  border-radius: 10px;
  background: var(--kanban-column-bg-color);
}

.kanbanColumn:not(:first-child) {
  margin-left: 0;
}

.colTitle {
  font-size: 1.5rem;
  margin-bottom: 40px;
}

.imagesContainer {
  flex-grow: 1;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  overflow-y: scroll;
  max-height: 40vh;
}

.images {
  display: flex;
  padding: 15px 15px;
  background: var(--kanban-bg-color);
  border-bottom: var(--kanban-border-bottom-color);
  border-radius: 5px;
  margin-bottom: 15px;
}

.cdk-drag-preview {
  box-sizing: border-box;
  border-radius: 5px;
  box-shadow: var(--kanban-drag-preview)
}

.cdk-drag-placeholder {
  opacity: 0;
}

.cdk-drag-animating {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.imagesContainer.cdk-drop-list-dragging .question:not(.cdk-drag-placeholder) {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.imagesContainer::-webkit-scrollbar {
  width: 10px;
}

.imagesContainer::-webkit-scrollbar-track {
  background-color: var(--kanban-column-bg-color);
}

.imagesContainer::-webkit-scrollbar-thumb {
  background-color: var(--kanban-scrollbar-thumb-color);
  border-radius: var(--kanban-scrollbar-radius);
}
