.quizItem {
    margin: 20px;
    text-align: center;
    cursor: var(--pointer-cursor);
    padding: 10px;
}

.imgQuiz {
    width: 200px;
    height: 140px;
    object-fit: cover;
    border-radius: 5px;
  cursor: var(--pointer-cursor);

}

.quizTitle {
    margin-top: 5px;
    font-size: 1.2em;
    font-weight: bold;
}
