.quizItem {
  margin: 20px;
  text-align: center;
  padding: 10px;
  box-shadow: 5px 5px 10px 5px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  background-color: white;
  width: 300px;
  transition: background-color 0.3s, transform 0.3s, box-shadow 0.3s;
}

.quizItem:hover {
  background-color: #f0f0f0;
  cursor: pointer;
  box-shadow: 5px 10px 10px 10px rgba(0, 0, 0, 0.2);
  transform: scale(1.1);
}

.imgQuiz {
    width: 200px;
    height: 140px;
    object-fit: cover;
    border-radius: 5px;
}

.quizTitle {
    margin-top: 5px;
    font-size: 1.2em;
    font-weight: bold;
}
