@import url(https://fonts.googleapis.com/css?family=Roboto:400,100,500,300italic,500italic,700italic,900,300);

.card {
  border-radius: 10px;
  /*background-color: var(--material-table-table-bg-color);
  box-shadow: var(--material-table-shadow);*/
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.7);
  background-color: #F6F6F6;
}

.table {
  margin: 30px;
  font-family: "Roboto", sans-serif;
  min-width: 90%;
  height: fit-content;
  position: relative;
}

.body {
  overflow-x: hidden;
  overflow-y: auto;
  height: calc(100% - 48px);
}



table {
  white-space: nowrap;
  color: var(--material-table);
  width: 100%;
  font-size: 12px;
  overflow-x: hidden;
  overflow-y: auto;
}

table th {
  height: 0;
  border: none;
  padding: 0;
  font-weight: bold;
  font-size: 1.6em;
  text-align: center;
}


table th div,
table thead tr:last-child th,
table td {
  padding: 0 0 0 0;
}

table th:not(:last-child) div,
table td:not(:last-child) {
  border-right: 1px solid rgb(159, 157, 157);
}

table td {
  border-bottom: 1px solid rgb(159, 157, 157);
  padding: 10px;
}

table thead tr:last-child th {
  line-height: 0;
  opacity: 0;
}

table thead th div {
  border-bottom: 4px solid rgb(0, 0, 0);
  line-height: 48px;
  top: 0;
}

table tbody tr:hover {
  cursor: var(--pointer-cursor);
  background-color: var(--material-table-table-bg-color-hover);
}

.cellspacing {
  border-collapse: collapse;
  border-spacing: 0;
}

.material-table-actions {
  display: flex;
  justify-content: space-evenly;
  padding: 0 16px;
  height: 48px;
}

.material-table-cell {
  font-size: 1.4em;
  text-align: center;
}

.material-table-image {
  width: 100px;
  height: 100px;
  margin: 1vw;
  object-fit: cover;
}