<div class="table card">
  <div class="header"></div>
  <div class="body">
    <table class="cellspacing">
      <thead>
        <tr>
          <th *ngFor="let header of headers">
            <div>{{header}}</div>
          </th>
          <th *ngIf="actions.length > 0">
            <div>Actions</div>
          </th>
        </tr>
        <tr>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let row of elements">
          <td *ngFor="let cell of Object.keys(row) | slice:0:headers.length" (click)="cellClick(row, 'rowClick')">
            <img *ngIf="cell === 'image'" [src]="row[cell]" alt="Pas d'image pour le quiz" width="100"
              class="material-table-image material-table-cell" />
            <div class="material-table-cell" *ngIf="cell !== 'image'">{{row[cell]}}</div>
          </td>
          <td *ngIf="actions.length > 0">
            <div class="material-table-actions">
              <app-genericButton [isDeleteButton]="action.className === 'delete'" *ngFor="let action of actions"
                (click)="cellClick(row, action.name)">
                {{action.name}}
              </app-genericButton>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>