/* You can add global styles to this file, and also import other style files */

//hide the scrollbar
::-webkit-scrollbar {
  display: none;
}

body{
  margin: 15px 0 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  background-color: #f5f5f5;
}
