.simon-game {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
  width: 100vw;
  margin-top: 5vh;
}

.simon-board {
  position: relative;
  width: 80vh;
  height: 80vh;
  margin: auto;
}

.simon-button {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 20vh;
  height: 20vh;
  margin: -10vh; /* half of width/height */
  border-radius: 50%;
  background-color: var(--simon-button-default-bg-color);
  opacity: 0.8;
  transition: all 0.5s ease;
}
.simon-button:hover {
  cursor: var(--pointer-cursor);
  filter: brightness(0.8);
}

.simon-button.active {
  width: 28vh;
  height: 28vh;
  margin: -14vh;
  opacity: 1;
  transition: all 0.5s ease;
}

.circle {
  position: absolute;
  width: 10vw;
  height: 10vw;
  border-radius: 10%;
  opacity: 0.8;
  transition: all 0.5s ease;
  transform: translate(-50%, -25%);
  background-color: #3a4eff;
  text-align: center;
  cursor: var(--pointer-cursor);
}

.circle:hover {
  opacity: 1;
}

.circle > span {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 1.5rem;
  color: white;
}
