.simon-game {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 88vh;
  width: 100vw;
  position: absolute;
  top: 80px;
}

.simon-board {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.simon-button {
  position: fixed;
  top: calc(50% - 10vh);
  left: calc(50% - 10vh);
  transform: translate(-50%, -50%);
  width: calc(20vh - 1rem);
  /* Adjust as needed */
  height: calc(20vh - 1rem);
  /* Adjust as needed */
  border-radius: 50%;
  background-color: var(--simon-button-default-bg-color);
  transition: all 0.5s ease;
  transform: translate(-50%, -50%);
}

.simon-button:hover {
  cursor: var(--pointer-cursor);
  filter: brightness(0.8);
}

.simon-button.active {
  width: calc(35vh - 1rem);
  height: calc(35vh - 1rem);
  margin: calc(-5vh - 1rem);
  opacity: 1;
  transition: all 0.5s ease;
}

.circle {
  position: absolute;
  width: 10vw;
  height: 10vh;
  border-radius: 10%;
  opacity: 0.8;
  transition: all 0.5s ease;
  transform: translate(-50%, -25%);
  background-color: #3a4eff;
  text-align: center;
  cursor: var(--pointer-cursor);
}

.congrats {
  position: fixed;
  top: 50%;
  left: 50%;
  width: calc(15vw - 2rem);
  height: calc(15vw - 2rem);
  border-radius: 10%;
  transition: all 0.5s ease;
  transform: translate(-50%, -50%);
  z-index: 300;
  background-color: #3a4eff;
  color: white;
  font-size: 2rem;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: var(--pointer-cursor);
}

.fullScreen {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform: translate(0, 0);
  border-radius: 0%;
  background-color: #3a4eff;
  transition: all 0.5s ease;
  font-size: 10rem;
}

.circle:hover {
  opacity: 1;
}

.circle>span {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 1.5rem;
  color: white;
}

.skipButton {
  position: fixed;
  bottom: 0px;
  right: 0px;
  text-align: center;
  width: fit-content;
  transition: all 0.5s ease;
  cursor: var(--pointer-cursor);
}

.skipper {
  position: fixed;
  width: 100vw;
  bottom: 0;
  right: 0;
  display: flex;
  align-content: center;
  justify-content: center;
  z-index: 1000;
}

.simon-game ::ng-deep app-genericButton > button {
  background-color: black;
  border-radius: 15px 0 0 0;
}

