.simon-game {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 88vh;
  width: 100vw;
  position: absolute;
  top: 80px;
}

.simon-board {
  width: 80vh;
  height: 80vh;
}

.simon-button {
  position: absolute;
  top: 48%;
  left: 50%;
  width: 7vw;
  /* Adjust as needed */
  height: 7vw;
  /* Adjust as needed */
  margin: -3.5vw 0 0 -3.5vw;
  border-radius: 50%;
  background-color: var(--simon-button-default-bg-color);
  transition: all 0.5s ease;
  transform: translate(-50%, -50%);
}

.simon-button:hover {
  cursor: var(--pointer-cursor);
  filter: brightness(0.8);
}

.simon-button.active {
  width: 28vh;
  height: 28vh;
  margin: -14vh;
  opacity: 1;
  transition: all 0.5s ease;
}

.circle {
  position: absolute;
  width: 10vw;
  height: 10vh;
  border-radius: 10%;
  opacity: 0.8;
  transition: all 0.5s ease;
  transform: translate(-50%, -25%);
  background-color: #3a4eff;
  text-align: center;
  cursor: var(--pointer-cursor);
}

.congrats {
  position: fixed;
  top: 50%;
  left: 50%;
  width: 10vw;
  height: 10vw;
  border-radius: 10%;
  transition: all 0.5s ease;
  transform: translate(-50%, -50%);
  z-index: 300;
  background-color: #3a4eff;
  color: white;
  font-size: 2rem;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: var(--pointer-cursor);
  padding: 20px;
}

.fullScreen {
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  transform: translate(0, 0);
  border-radius: 0%;
  background-color: #3a4eff;
  transition: all 0.5s ease;
  font-size: 10rem;
}

.circle:hover {
  opacity: 1;
}

.circle>span {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 1.5rem;
  color: white;
}

.skipButton {
  position: fixed;
  bottom: 0px;
  text-align: center;
  width: fit-content;
  transition: all 0.5s ease;
  cursor: var(--pointer-cursor);
}

.skipper {
  position: fixed;
  width: 100vw;
  bottom: 0;
  display: flex;
  align-content: center;
  justify-content: center;
}

.simon-game ::ng-deep app-genericButton > button {
  background-color: black;
  border-radius: 15px 15px 0 0;
}

