<p class="question">{{questionText}}</p>
<div class="question-image-container">
  <img *ngIf="question.questionImage" src="{{question.questionImage}}" alt="" />
</div>

<div class="tipsContainer">
  <app-genericButton class="tutorialButton" (click)=goToHowToPlay()>Tutoriel</app-genericButton>
  <app-tips>
    <ul>
      <li *ngFor="let tip of question.tips">
        {{tip}}
      </li>
    </ul>
  </app-tips>
</div>


<div class="griddy">
  <app-quizButton *ngFor="let answer of answers" (click)="!blockUI && onAnswer(answer)"
    [color]="{correct: answer === correctAnswer ,wrong: answer !== correctAnswer && wrongAnswers.includes(answer)}"
    [img]="question.AreResponsesImages ?  answer : ''">{{answer}}</app-quizButton>
</div>