<div class="quizContainer">
  <p class="question">{{ questionText }}</p>
  <div class="question-image-container">
    <img *ngIf="questionImage" src="{{questionImage}}" alt="" />
  </div>

  <div class="tipsContainer">
    <app-genericButton class="tutorialButton" (click)=goToHowToPlay()>Tutoriel</app-genericButton>
    <app-tips (click)="incrementIndex()" [displayButton] ="String(this.user && this.user.config.quiz.showHintAfterClick) === 'true'" #tipsComponent canBeClicked="canOpenTipsOnClick">
      <ul *ngIf="currentTipIndex === -2">
        <li *ngFor="let tip of tips">
          {{ tip }}
        </li>
      </ul>
      <ul *ngIf="currentTipIndex >= 0">
        <li>
          {{ tips[0] }}
        </li>
        <li *ngIf="currentTipIndex >= 1 || this.user && String(this.user.config.quiz.showHintOneByOne) === 'false'">
          {{ tips[1] }}
        </li>
      </ul>
    </app-tips>
    <div *ngIf="buttonSkip == true">
      <app-genericButton class="skipButton" (click)=skipQuestion()>Passer la question</app-genericButton>
    </div>
  </div>


  <div class="griddy">
    <app-quizButton [class.expandables]="correctAnswer === answer" *ngFor="let answer of answers"
      (click)="!blockUI && onAnswer(answer)"
      [color]="{correct: answer === correctAnswer ,wrong: answer !== correctAnswer && wrongAnswers.includes(answer)}"
      [img]="areResponsesImages == true ?  answer : ''">{{ answer }}
    </app-quizButton>
  </div>
</div>