.memoryItem {
    width: calc(10vw + 15px);
    height: calc(10vw + 15px);
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0.6vw auto;
}

.front-face {
    width: calc(9vw + 15px);
    height: calc(9vw + 15px);
    padding: 1vw;
    border-radius: 15px;
    background-color: var(--memory-item-bg-color);
}

.back-face {
    width: calc(10vw + 15px);
    height: calc(10vw + 15px);
    display: flex;
    border-radius: 15px;
}

.back-face img {
    vertical-align: top;
}

.back-face img {
    margin: 0;
}

.inactive-item {
    pointer-events: none;
}

.highlighted {
    border: var(--memory-item-highlighted-bg-color);
    border-radius: 15px;
    margin: 0;
    padding: 0;
}

.hidden {
    visibility: hidden;
}