.graphics {
  width: 65vw;
}

h1 {
  font-size: 1.5em;
  width: 80%;
  text-align: center;
  font-family: Roboto, serif;
  color: #ffffff;
  background-color: #434343;
  border-radius: 10px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
}

footer {
  margin: 10px;
  position: fixed;
  bottom: 0;
  right: 0;
}

.differentGame {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin-bottom: 30px;
}

.historique {
  display: flex;
  justify-content: center;
}
