<main class="userCreator">
    <form [formGroup]="userCreatorForm" class="user-creator-form">
        <div class="userAvatar">
            <img *ngIf="imageUrl" [src]="imageUrl" alt="Uploaded Image" id="userToCreateImg">
            <input type="file" id="userImg" (change)="onFileSelected($event)" [formControlName]="'userImg'"
                style="display: none;">
            <input type="button" value="Choisir un fichier" (click)="triggerFileInput()" />
            <p>Ajouter une photo</p>
        </div>
        <div class="inputs">
            <p>Informations générales</p>
            <div class="personnal-information">
                <label>
                    <b>Prénom</b> <br>
                    <input type="text" class="userInput" name="userInput" [formControlName]="'firstName'"
                        placeholder="Ex: John" required />
                </label>
                <label>
                    <b>Nom</b> <br>
                    <input type="text" class="userInput" name="userInput" [formControlName]="'lastName'"
                        placeholder="Ex: Doe" required />
                </label>
                <label>
                    <b>Date de naissance</b> <br>
                    <input type="date" class="userInput" name="userInput" [formControlName]="'userBirth'" />
                </label>
                <label>
                    <b>Intérêt/hobbies</b> <br>
                    <input type="text" class="userInput" name="userInput" [formControlName]="'hobbies'"
                        placeholder="Ex: Géographie, Sport, ..." />
                </label>
                <label><b>Daltonisme</b> <br>
                    <select name="dalto" id="dalto-select" [formControlName]="'typeOfDalto'">
                        <option value="nodaltonisme" selected>Pas de daltonisme</option>
                        <option value="achromatopsia">Achromatopsie</option>
                        <option value="achromatomaly">Achromatomie</option>
                        <option value="tritanopia">Tritanopie</option>
                        <option value="tritanomaly">Tritanomalie</option>
                        <option value="protanopia">Protanopia</option>
                        <option value="protanomaly">Protanomalie</option>
                        <option value="deuteranopia">Deuteranopie</option>
                        <option value="deuteranomaly">Deuteranomalie</option>
                    </select>
                </label>
                <label> <b>Afficher le bouton "Passer les questions"</b> <br>
                    <label>
                        <input type="radio" name="choiceDisplaySkip" value="true"
                            [formControlName]="'choiceDisplaySkip'" required> Oui
                    </label>
                    <label>
                        <input type="radio" name="choiceDisplaySkip" value="false"
                            [formControlName]="'choiceDisplaySkip'"> Non
                    </label>
                </label>
            </div>
            <p>Simon</p>
            <div class="settings-for-games">
                <label> <b>Simon en couleurs ?</b> <br>
                    <label>
                        <input type="radio" name="choiceSimon" value="true" [formControlName]="'choiceSimon'" required>
                        Oui
                    </label>
                    <label>
                        <input type="radio" name="choiceSimon" value="false" [formControlName]="'choiceSimon'"> Non
                    </label>
                </label>
                <label> <b>Nombre de secondes d’inactivité avant d’afficher un indice ?</b> <br>
                    <input type="number" min="0" step="1" max="10000" [formControlName]="'secTipsForSimon'" required>
                </label>
            </div>
            <p>Memory</p>
            <div class="settings-for-games">
                <label>
                    <b>Nombre de secondes d’inactivité avant d’afficher un indice</b> <br>
                    <input type="number" min="0" step="1" max="10000" [formControlName]="'secTipsForMemory'" required>
                </label>
                <label>
                    <b>Temps pour voir toutes les cartes faces visibles au début de la partie</b> <br>
                    <input value="5" type="number" min="0" step="1" max="10000"
                        [formControlName]="'secVisibleCardForMemory'" required>
                </label>
            </div>

            <p>Quiz</p>
            <div class="settings-for-games">
                <label> <b>Afficher un indice directement après une erreur ?</b> <br>
                    <label>
                        <input type="radio" name="choicePrintTipsAfterError" value="true"
                            [formControlName]="'choicePrintTipsAfterError'" required> Oui
                    </label>
                    <label>
                        <input type="radio" name="choicePrintTipsAfterError" value="false"
                            [formControlName]="'choicePrintTipsAfterError'"> Non
                    </label>
                </label>
                <label> <b>Afficher le bouton "indices"</b> <br>
                    <label>
                        <input type="radio" name="choicePrintTipsAfterClick" value="true"
                            [formControlName]="'choicePrintTipsAfterClick'" required> Oui
                    </label>
                    <label>
                        <input type="radio" name="choicePrintTipsAfterClick" value="false"
                            [formControlName]="'choicePrintTipsAfterClick'"> Non
                    </label>
                </label>
                <label> <b>Afficher les indices 1 par 1 (Cochez "Non" si vous voulez que tous les indices s'affichent en
                        même
                        temps)</b> <br>
                    <label>
                        <input type="radio" name="choicePrintTipsOneByOne" value="true"
                            [formControlName]="'choicePrintTipsOneByOne'" required> Oui
                    </label>
                    <label>
                        <input type="radio" name="choicePrintTipsOneByOne" value="false"
                            [formControlName]="'choicePrintTipsOneByOne'"> Non
                    </label>
                </label>
            </div>
        </div>
        <button *ngIf="!user" type="submit" class="createUserButton" [disabled]="!isFormValid()" (click)="addUser()">
            Créer l'utilisateur
        </button>
        <button *ngIf="user" type="submit" class="createUserButton" [disabled]="!isFormValid()" (click)="modifyUser()">
            Modifier l'utilisateur
        </button>
    </form>
    <div *ngIf="showMessage" class="showMessage">
        <div>
            <p>{{ message }}</p>
        </div>
    </div>
</main>