.userAvatar {
    margin-top: 3%;
    margin-bottom: 7%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

#userToCreateImg {
    width: 300px;
    height: 200px;
    object-fit: cover;
    margin-bottom: 10px;
}

.user-creator-form {
    border: black 10px solid;
    margin-left: 15%;
    margin-right: 15%;
    margin-left: 15%;
    margin-top: 4%;
    padding: 20px;
    opacity: 0.8;
    text-align: center;
    background-color: #f0eaea;
}

.user-creator-form>.inputs {
    margin-bottom: 50px;
}

.user-creator-form>.inputs>div {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    text-align: center;
}

.user-creator-form>.inputs>p {
    font-size: 1.5em;
    width: auto;
    font-size: 1.5em;
    text-align: center;
    font-family: Roboto, serif;
    color: #ffffff;
    background-color: #434343;
    border-radius: 10px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
}



.user-creator-form>.inputs>div>* {
    flex: 1 0 calc(33.33% - 10px);
    margin-bottom: 2%;
    font-size: 1.5em;

}

input[type="text"] {
    margin-top: 10px;
    font-size: 0.8em;
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.7);
}

input[type="number"] {
    margin-top: 10px;
    font-size: 1.1em;
}

input[type="radio"] {
    margin-top: 10px;
    font-size: 20px;
}



.disabled-button {
    background-color: var(--button-disabled-background-color);
}

.createUserButton {
    margin: 0;
    border-radius: 20px;
    font-size: 2.0em;
    color: var(--createuser-button-color);
    padding: 10px;
    cursor: var(--pointer-cursor);
    position: relative;
    transition: background 0.3s ease;
    text-align: center;
    margin: 10px;
    bottom: 0;
    left: 0;
}

.createUserButton:enabled {
    margin: 0;
    border-radius: 20px;
    background-color: var(--button-generic-background-color);
    font-size: 2.0em;
    color: var(--button-generic-color);
    padding: 10px;
    cursor: var(--pointer-cursor);
    position: relative;
    transition: background 0.3s ease;
    text-align: center;
    margin: 10px;
    bottom: 0;
    left: 0;
}




.createUserButton:enabled:hover {
    background: rgba(0, 0, 0, 0.7);
}

select {
    font-size: 20px;
}


.userInput {
    background-color: var(--user-input);
    border-radius: 200px;
    padding: 10px 100px 10px 10px;
    border: var(--user-input-border);
}
